/*
Naming
class: name-name
element of class: name-name__element
class modifiers: name-name--modifier
*/


.app {
    font-family: $font-style;
    margin: 0;
    padding: 0;
}

.header {
    font-size: 28px;
}

