/*
Naming
class: name-name
element of class: name-name__element
class modifiers: name-name--modifier
*/

.app {
    display: grid;
    grid-template: 75px repeat(1fp, 3) / repeat(1fp, 12);
    font-family: $font-style;
    margin: 0;
}

.header {
    font-size: 28px;
}