
body {
    background: $light-shade;
}

.app {
    color: $main-color;
}

.game {
    background: $light-accent;
    border: none;
}

.game__board {
    border-color: $dark-shade;
}
.game__square {
    border-color: $dark-shade;
    color: $dark-shade;
}

.safe-unclicked, .bomb-unclicked {
    background-color: $light-shade;
}

.safe-clicked {
    background-color: $light-accent;
}

.bomb-clicked, .bomb-end {
    background-color: red;
}

.bomb-flagged, .safe-flagged {

    background-color: $dark-accent;
}

.game__info {
    background-color: $dark-shade;
}

.searchbar {
    background-color: $light-shade;
    .searchbar__button, .searchbar__searchbox {
        border-color: grey;
    }

}

