.game {
    border: $dark-shade solid 2px;
    border-radius: 5px;
    grid-row: 4 / span 5;
    grid-column: 2 / span 1;
    padding: 10px;
}

.game__board {
    display: grid;
    grid-template-columns: repeat(8, minmax(50px, 12.5%));
    justify-items: stretch;
}

.game__board__col{
    display: grid;
    grid-template-rows: repeat(8, minmax(50px, 12.5%));
    justify-items: stretch;
}

.game__square {
    text-align: center;
    min-width: 50px;
    min-height: 50px;
    border: $dark-shade solid 1px;
}

.clicked {
    background-color: $light-accent;
}
.unclicked {
    background-color: $light-shade;
    .game__square__text {
        display: none;
    }
}
.bomb {
    background-color: red;
}