.game {
    margin: 30px 0 0 0;
    padding: 15px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;

    .emoji {
        font-size: 12px;
    }

}

.game_board {
    padding: 5px;
    margin: 0;
}

.game__square {
    text-align: center;
    min-width: $game-square-dimensions;
    min-height: $game-square-dimensions;
    border: solid 1px;
}

.safe-unclicked, .poop-unclicked {
    
    .game__square__text {
        display: none;
    }
}


.game__info {
    //font-family: 'Press Start 2P', cursive;
    border-radius: 5px;
    text-align: center;
    justify-self: center;
    align-self: center;
    padding: 50px;
    margin: 15px;
    white-space: pre-wrap; //makes \n work in strings

    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;

    button-display {
        display: block;
    }
    button-hide {
        display: none;
    }

    .game__info__time {
        margin: 10px;
    }
    .game__info__score {
        margin: 10px;
        text-align: left;

        .game__info__score__points {
            float: right;
        }
    }

}