.app {
    display: grid;
    grid-template-columns: 1fp auto 1fp;
    grid-template-rows: 30px repeat(2,75px)  auto;
    grid-template-areas: 
    ". date ."
    ". greeting ."
    ". searchbar ."
    ". game ."; 
    grid-row-gap: 10px;


    .date {
        grid-area: date;
        justify-self: center;
    }   

    .greeting {
        font-size: 50px;
        grid-area: greeting;
        justify-self: center;
    }

 
    .searchbar {
        grid-area: searchbar;
        justify-self: center;
    }
    

    .game {
        grid-area: game;

        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .game__board {
            display: grid;
            grid-template-columns: repeat(auto-fill, 25px);
            width: $game-square-dimensions * $board-dimensions;
        
            
        .game__board__col {
            display: grid;
            grid-template-rows: repeat(auto-fill, 25px);
            justify-items: stretch;
        }


        }

     

    }
}






