.searchbar {
    padding: 15px;
    box-shadow: 5px 5px 10px grey;
    border-radius: 5px;
    font-size: 18px;
    width: 80%;
    min-width: 600px;
    background-color: $light-shade;
    
    .searchbar__searchbox {
        border-radius: 5px 0 0 5px;
        border: 1px solid grey;
        border-right:none;
        padding: 5px;
        margin: 0 0 0 auto;
        grid-column: 1 span 1;
        height: 40px;
        overflow:hidden;
        line-height:18px;
        width: calc(100% - 75px);
    }

    .searchbar__button {
        border-radius: 0 5px 5px 0;
        border: 1px solid grey;
        border-left: none;
        padding: 5px;
        margin: 0 auto 0 0;
        grid-column: 2 span 1;
        height: 40px;
        line-height:18px;
        vertical-align:top;
        width: 50px;
    }
}