/* Colors */

$light-shade: #D9F6FA;
$light-accent: #F373E0;
$main-color: #F69858;
$dark-accent: #DF466F;
$dark-shade: #60487F;
$background-color: rgb(91,79,126);

$square1: #0F91A1;
$square2: #24C14B;
$square3: #DDF14A;
$square4: #F48F31;
$square5: #DB3D4C;

$font-style: 'Baloo Chettan', cursive;

$num-squares: 64;