/* Colors */

$light-shade: #F7F9FA;
$light-accent: #C6ACAC;
$main-color: #F19B5F;
$dark-accent: #E85252;
$dark-shade: #303954;

$square1: #0F91A1;
$square2: #24C14B;
$square3: #DDF14A;
$square4: #F48F31;
$square5: #DB3D4C;

$font-style: 'Nanum Gothic', sans-serif;

$num-squares: 64;