@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic");
/*
Make all elements border-box, so specified width & height are
not affected by padding and border
*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: inherit; }

/* Colors */
.clock {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  justify-self: start; }

.date {
  grid-row: 1 / span 1;
  grid-column: 3 / span 1;
  justify-self: end; }

/*
Naming
class: name-name
element of class: name-name__element
class modifiers: name-name--modifier
*/
.app {
  display: grid;
  grid-template: 75px repeat(1fp, 12)/min-content(150px) auto min-content(150px);
  grid-row-gap: 20px;
  font-family: "Nanum Gothic", sans-serif;
  margin: 0; }

.header {
  font-size: 28px; }

.greeting {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  font-size: 50px;
  justify-self: center; }

.searchbar {
  padding: 15px;
  box-shadow: 5px 5px 10px grey;
  border-radius: 5px;
  font-size: 18px;
  width: 80%;
  min-width: 600px;
  background-color: #F7F9FA;
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  justify-self: center; }
  .searchbar .searchbar__searchbox {
    border-radius: 5px 0 0 5px;
    border: 1px solid grey;
    border-right: none;
    padding: 5px;
    margin: 0 0 0 auto;
    grid-column: 1 span 1;
    height: 40px;
    overflow: hidden;
    line-height: 18px;
    width: calc(100% - 75px); }
  .searchbar .searchbar__button {
    border-radius: 0 5px 5px 0;
    border: 1px solid grey;
    border-left: none;
    padding: 5px;
    margin: 0 auto 0 0;
    grid-column: 2 span 1;
    height: 40px;
    line-height: 18px;
    vertical-align: top;
    width: 50px; }
