@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic");
/*
Make all elements border-box, so specified width & height are
not affected by padding and border
*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: inherit; }

/* Colors */
/*
Naming
class: name-name
element of class: name-name__element
class modifiers: name-name--modifier
*/
.app {
  font-family: "Baloo Chettan", cursive;
  margin: 0;
  padding: 0; }

.header {
  font-size: 28px; }

.searchbar {
  padding: 15px;
  box-shadow: 5px 5px 10px grey;
  border-radius: 5px;
  font-size: 18px;
  width: 80%;
  min-width: 600px; }
  .searchbar .searchbar__searchbox {
    border-radius: 5px 0 0 5px;
    border: 1px solid;
    border-right: none;
    padding: 5px;
    margin: 0;
    grid-column: 1 span 1;
    height: 40px;
    overflow: hidden;
    line-height: 18px;
    width: calc(100% - 50px); }
  .searchbar .searchbar__button {
    border-radius: 0 5px 5px 0;
    border: 1px solid;
    border-left: none;
    padding: 5px;
    margin: 0;
    grid-column: 2 span 1;
    height: 40px;
    line-height: 18px;
    vertical-align: top;
    width: 50px; }

.game {
  padding: 10px; }

.game__board {
  border: solid 2px;
  border-radius: 5px; }

.game__square {
  text-align: center;
  min-width: 25px;
  min-height: 25px;
  border: solid 1px; }

.safe-unclicked .game__square__text, .bomb-unclicked .game__square__text {
  display: none; }

.bomb-flagged .game__square__text, .safe-flagged .game__square__text {
  display: none; }

game__info button-display {
  display: block; }

game__info button-hide {
  display: none; }

body {
  background: #F3F5EF; }

.app {
  color: #DF466F; }

.game {
  background: #D59798;
  border: none; }

.game__board {
  border-color: #262A41; }

.game__square {
  border-color: #262A41;
  color: #262A41; }

.safe-unclicked, .bomb-unclicked {
  background-color: #F3F5EF; }

.safe-clicked {
  background-color: #D59798; }

.bomb-clicked, .bomb-end {
  background-color: red; }

.bomb-flagged, .safe-flagged {
  background-color: #CF668F; }

.game__info {
  background-color: #262A41; }

.searchbar {
  background-color: #F3F5EF; }
  .searchbar .searchbar__button, .searchbar .searchbar__searchbox {
    border-color: grey; }

.game__info {
  font-family: 'Press Start 2P', cursive;
  border-radius: 5px; }

.app {
  display: grid;
  grid-template: 75px repeat(12, 1fp)/min-content(150px) auto min-content(150px);
  grid-row-gap: 20px; }

.greeting {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  font-size: 50px;
  justify-self: center; }

.clock {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  justify-self: start; }

.date {
  grid-row: 1 / span 1;
  grid-column: 3 / span 1;
  justify-self: end; }

.searchbar {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  justify-self: center; }

.game {
  border: solid 2px;
  border-radius: 10px;
  grid-row: 4 / span 5;
  grid-column: auto-fill; }

.game__board {
  display: grid;
  grid-template-columns: repeat(auto-fill, 25px);
  justify-items: stretch; }

.game__board__col {
  display: grid;
  grid-template-rows: repeat(auto-fill, 25px);
  justify-items: stretch; }
