@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic");
/*
Make all elements border-box, so specified width & height are
not affected by padding and border
*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: inherit; }

/* Colors */
/*
Naming
class: name-name
element of class: name-name__element
class modifiers: name-name--modifier
*/
.app {
  font-family: "Baloo Chettan", cursive;
  margin: 0;
  padding: 0; }

.header {
  font-size: 28px; }

.searchbar {
  padding: 15px;
  box-shadow: 5px 5px 10px grey;
  border-radius: 5px;
  font-size: 18px;
  width: 80%;
  min-width: 600px; }
  .searchbar .searchbar__searchbox {
    border-radius: 5px 0 0 5px;
    border: 1px solid;
    border-right: none;
    padding: 5px;
    margin: 0;
    grid-column: 1 span 1;
    height: 40px;
    overflow: hidden;
    line-height: 18px;
    width: calc(100% - 50px); }
  .searchbar .searchbar__button {
    border-radius: 0 5px 5px 0;
    border: 1px solid;
    border-left: none;
    padding: 5px;
    margin: 0;
    grid-column: 2 span 1;
    height: 40px;
    line-height: 18px;
    vertical-align: top;
    width: 50px; }

.game {
  margin: 30px 0 0 0;
  padding: 15px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px grey; }
  .game .emoji {
    font-size: 12px; }

.game_board {
  padding: 5px;
  margin: 0; }

.game__square {
  text-align: center;
  min-width: 25px;
  min-height: 25px;
  border: solid 1px; }

.safe-unclicked .game__square__text, .poop-unclicked .game__square__text {
  display: none; }

.game__info button-display {
  display: block; }

.game__info button-hide {
  display: none; }

body {
  background: #F3F5EF; }

.app {
  color: #DF466F; }

.game {
  background: #262A41;
  border-color: #262A41; }

.game__board {
  background: #F3F5EF; }

.game__square {
  border-color: #262A41;
  color: #262A41; }

.safe-unclicked, .poop-unclicked {
  background-color: #F3F5EF; }

.safe-clicked {
  background-color: #797CA6; }

.poop-clicked, .poop-end {
  background-color: red; }

.poop-flagged, .safe-flagged {
  background-color: #F3F5EF; }

.game__info {
  background-color: #CF668F;
  color: #F3F5EF; }

.searchbar {
  background-color: #797CA6; }
  .searchbar .searchbar__button, .searchbar .searchbar__searchbox {
    border-color: grey; }

.game__info {
  /*font-family: 'Press Start 2P', cursive;*/
  border-radius: 5px;
  text-align: center;
  justify-self: center;
  align-self: center;
  padding: 50px;
  margin: 15px; }

.app {
  display: grid;
  grid-template: 75px repeat(12, 1fp)/min-content(150px) auto min-content(150px);
  grid-row-gap: 20px; }
  .app .date {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
    justify-self: end; }
  .app .clock {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    justify-self: start; }
  .app .searchbar {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
    justify-self: center; }
  .app .greeting {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    font-size: 50px;
    justify-self: center; }
  .app .game {
    grid-row: 4 / span 5;
    grid-column: auto-fit;
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    .app .game .game__board {
      display: grid;
      grid-template-columns: repeat(auto-fill, 25px);
      width: 350px; }
      .app .game .game__board .game__board__col {
        display: grid;
        grid-template-rows: repeat(auto-fill, 25px);
        justify-items: stretch; }
